img {
  width: 100% !important;
}
i,
p {
  color: black;
}

.listing-preview {
  margin-bottom: 20px;
  background: rgb(43, 40, 40);
}

.listing-preview img {
  height: 450px;
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 250px;
  }
  #showcase {
    height: 300px;
  }
}
